/build/
/build-*/
/AppDir/
/*.AppImage

/third_party/cocos2d-x/
/third_party/7zip/
/third_party/unrar/
/third_party/downloads/
/third_party/install/
/third_party/ffmpeg-*/
**/__pycache__/

/install-linux/
/dist/
tests/linux/games/**/initialize-bytecode.tjs
tests/linux/games/startup-compat-fallback/System/[Ii]nitialize.tjs
tests/linux/games/**/savedata/
/third_party/p7zip_16.02/

.uuid
